table td,
table th {
  text-wrap: nowrap;
}

table tr {
  border-bottom: transparent;
}

.products-slider::-webkit-scrollbar {
  display: none;
}

.navbar-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture-lg {
  object-fit: cover;
  object-position: top;
  width: 200px !important;
  height: 200px !important;
}

.profile-picture-sm {
  object-fit: cover;
  object-position: top;
  width: 40px !important;
  height: 40px !important;
}

.visible-on-hover:hover {
  opacity: 1;
  visibility: visible;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card {
  height: 100%;
}

.image-container .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
